<section class="app">
  <header class="app-head">
    <mat-toolbar class="app-head__title" color="primary">
      <h1>{{ appName$ | async }}</h1>
        <span class="app-head__spacer"></span>
        <span class="app-head__version">{{ NG_VERSION }}</span>
        <span>
          <button
            mat-mini-fab
            aria-label="Toggle to select theme"
            matTooltip="Toggle to select theme"
            matTooltipPosition="before"
            [color]="appTheme$ ? 'accent' : 'primary'"
            (click)="toggleTheme()"
            >
            <mat-icon>invert_colors</mat-icon>
          </button>
        </span>
    </mat-toolbar>
    <div class="app-head__subtitle">
      <h3>{{ appSubtitle$ | async }}</h3>
    </div>
    <div class="app-head__instructions">
      <ul *ngIf="appInstructions$ | async as instr">
        <li *ngFor="let in of instr">
          <span [innerHTML]="in"></span>
        </li>
      </ul>
    </div>
  </header>
  <div class="app-body">
    <router-outlet></router-outlet>
  </div>
</section>